<app-navbar></app-navbar>
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="image_2"><img src="assets/images/img-2.png"></div>
        </div>
        <div class="col-md-6">
          <h1 class="about_text">ABOUT </h1>
          <p class="lorem_text">Welcome to GamePad, your ultimate destination for high-quality remote controllers, cutting-edge drones, and powerful PCs. Whether you're a gaming enthusiast, a tech lover, or someone looking to upgrade your home office, GamePad offers a curated selection of the best products on the market.

            Our goal is to provide our customers with top-notch gadgets that enhance your experience, whether you're flying through the skies with our drones or gaining precision control with our advanced remote controllers. We also offer a variety of PCs that meet your needs, whether you're gaming, working, or creating.</p>
          <div class="shop_bt_2"><a href="shop">Shop Now</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- about section end -->
  <app-footer></app-footer>
  <!-- copyright section end -->